-- Insert admin user for existing auth user
INSERT INTO system_users (user_id, username, full_name, email, role)
VALUES (
    'b3406f11-834b-4630-a3f3-2be9ca375df4',
    'admin',
    'System Administrator', 
    'admin@mtziondchurch.com',
    'admin'
) ON CONFLICT (user_id) DO UPDATE SET
    username = EXCLUDED.username,
    full_name = EXCLUDED.full_name,
    email = EXCLUDED.email,
    role = EXCLUDED.role;

-- Verify the insert worked
SELECT 'system_users' as table_name, user_id, username, role FROM system_users WHERE user_id = 'b3406f11-834b-4630-a3f3-2be9ca375df4';
